openapi: 3.1.0
info:
  title: Potok API
  version: v3
  description: |-
    # Общая информация
    API Potok позволяет клиентам получать информацию путем отправки запроса на сервера Potok
    * Все методы API Potok  работают по протоколу HTTPS;
    * Даты форматируются в соответствии с [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601): `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`.
    * Все вызовы содержат: `Content-Type: application/json`*

    *-если для запроса не указано иное

    В случае отсутствия заполненных данных в Potok по какому-либо параметру, возвращаемому в ответе, параметр может быть исключен из структуры ответа или иметь значение `null`.

    ## Ограничение количества запросов
    В Potok имеются ограничения на количество запросов в определенный промежуток времени. 

    При превышении указанного количества запросов будет возвращаться ошибка `429` - превышено допустимое количество запросов в секунду.
    |Время (в секундах)|Ограничение (кол-во запросов)|
    |:--:|:---:|
    |10|100|

    ## Коды ошибок
    Основные ошибки возникающие при работе с API Potok указаны в таблице ниже.

    В случае неполадок и сбоев, возможны ответы с кодом `500` или другими `5XX`.

    При каждой ошибке, помимо кода ответа, в теле ответа может быть выдана дополнительная информация, позволяющая разработчику понять причину соответствующего ответа.
    | Код ошибки | Описание|
    |:-------:|:------------:|
    |400| Ошибка параметров запроса
    |401 | Отказ в доступе. Неверная авторизация или аутентификация|
    |403| Объект есть и доступ к нему запрещён
    |404| Сервер не может найти запрашиваемый объект
    |422 | Ошибки при заполнении полей: не заполнено поле, неверный формат и ошибки валидации|
    |429| Превышено допустимое количество запросов в секунду

    ## Генерация токена
    Для получения доступа к системе нужно сгенерировать токен. Сделать это можно в настройках компании в разделе **Генерация токенов** (доступ к разделу согласно настроенной ролевой модели). 

    Для создания токена нужно указать его название и нажать кнопку **Создать токен**. Новый токен появится в списке действующих токенов. Удалить токен можно с помощью иконки с корзиной рядом с ним.

    В случае ошибки аутентификации появится ошибка `401`
  summary: test
  contact:
    name: Daniel
servers:
  - url: 'https://app.potok.io/api/v3'
    description: Potok.io
paths:
  /jobs.json:
    get:
      summary: Получение списка вакансий
      tags:
        - вакансии
      operationId: get-api-v3-jobs.json
      description: |-
        Получение списка вакансий компании. Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.
        Сотрировка вакансий в ответе по дате создания по убыванию.
      parameters:
        - schema:
            type: string
            example: active
            enum:
              - all
              - active
            default: active
          in: query
          name: by_scope
          description: '`all` (чтобы получить все вакансии) или `active` (чтобы получить активные вакансии). Значение по умолчанию `active`'
          allowEmptyValue: true
        - schema:
            type: number
            example: 1
            default: 1
          in: query
          name: page
          description: Номер страницы списка вакансий (начиная с 1)
          allowEmptyValue: true
        - schema:
            type: number
            maxLength: 3
            maximum: 100
            minimum: 1
            example: 50
            default: 50
          in: query
          name: per_page
          description: Количество элементов на странице (по умолчанию 50)
          allowEmptyValue: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: string
                        company_department:
                          archived: false
                          id: 52
                          name: IT Department
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: '1599'
                        code_enable: false
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - умелый
                        city: '1'
                        published: true
                        publish_location: string
                        applicants_count:
                          all: 4
                          active: 2
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2022-08-22T08:50:21.638+03:00'
                        stages:
                          - id: 1432
                            name: Проверка СБ
                            serial: 456
                            active_applicants: 1
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 148846
                          name: Иван Иванов Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://avatarka.zdes/ava.jpg'
                          phones:
                            - '87771110000'
                        job_bindings:
                          - id: 8899
                            type: 'JobBinding::Career'
                            url: 'https://ivanov@mysupersite.com/open/jobs/223234'
                            info:
                              name: Повар
                              description: string
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 412412
                          name: Иванов Иван Иванович
                          email: ivanov@ivan.tut
                          avatar: 'https://avatarka.zdes/ava.jpg'
                          phones:
                            - '18888324'
                        jobs_users:
                          - id: 1231
                            job_id: 4322
                            role:
                              id: 13
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 14
                              name: Alabai
                              email: bumaga@tochka.cot
                              avatar: 'https://avatarka.zdes/ava.jpg'
                              phones:
                                - '123123124'
                        first_opened_at: '2020-07-17T10:38:55.900+03:00'
                        archived: true
                        demand: 5
                        state_id: opened
                        closed_at: string
                        closure_date: '2021-09-30T00:00:00.000+03:00'
                        private: true
                        direction_code: point
                        job_type: point
                        staffing_item_full_ext_id: position_12423
                        staffing_item_parent_full_ext_id: department_33448
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
                required:
                  - data
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
          headers: {}
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
    post:
      summary: Создание вакансии
      tags:
        - вакансии
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 0
                        name: string
                        description: string
                        company_department: {}
                        schedule_type: string
                        salary_from: 0
                        salary_to: 0
                        code: string
                        code_enable: true
                        experience_type: string
                        employment_type: string
                        currency_type: string
                        key_skills:
                          - string
                        city: string
                        published: true
                        publish_location: {}
                        applicants_count:
                          all: 0
                          active: 0
                        created_at: string
                        updated_at: string
                        stages:
                          - id: 0
                            name: string
                            serial: 0
                            active_applicants: 0
                            declined_applicants: 0
                        author:
                          id: 0
                          name: string
                          avatar: string
                        job_bindings:
                          - {}
                        executive_recruiter:
                          id: 0
                          name: string
                          avatar: string
                        jobs_users:
                          - id: 0
                            job_id: 0
                            role:
                              id: 0
                              company_id: 0
                              name: string
                              role_type: string
                            user:
                              id: 0
                              name: string
                              email: string
                              avatar: string
                        first_opened_at: string
                        archived: true
                        demand: 0
                        state_id: string
                        closed_at: string
                        closure_date: string
                        private: true
                        direction_code: string
                        job_type: string
                        staffing_item_full_ext_id: string
                        staffing_item_parent_full_ext_id: string
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '422':
          $ref: '#/components/responses/422'
      operationId: post-api-v3-jobs.json
      description: |-
        Создание новой вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может принимать другой набор полей или иметь отличные от описанного валидации.
        Метод возвращает данные созданной вакансии: статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  name: string
                  description: string
                  city: 0
                  salary_from: 0
                  salary_to: 0
                  employment_type: string
                  experience_type: string
                  schedule_type: string
                  currency_type: string
                  code: 0
                  form: {}
                  key_skills:
                    - string
                  job_type: string
                  is_draft: true
                  company_department_id: 0
              properties:
                name:
                  type: string
                  description: Название вакансии
                description:
                  type: string
                  description: Описание вакансии
                city:
                  type: number
                  description: ID Города вакансии (словарь `cities`)
                salary_from:
                  type: number
                  description: Ожидаемая ЗП от
                salary_to:
                  type: number
                  description: Ожидаемая ЗП до
                employment_type:
                  type: string
                  description: ID Занятости (словарь - `employment_type`)
                experience_type:
                  type: string
                  description: ID Опыта работы (словарь - `experience_type`)
                schedule_type:
                  type: string
                  description: ID Графика работы (словарь - `schedule_type`)
                currency_type:
                  type: string
                  description: ID Валюты (словарь - `currency_type`)
                key_skills:
                  description: Массив ключевых навыков
                  type: array
                  items:
                    type: string
                job_type:
                  type: string
                  description: |-
                    Воронка подбора вакансии (в компании могут быть добавлены дополнительные воронки)

                    `point` - точечный подбор
                is_draft:
                  type: boolean
                  description: |-
                    Признак черновика вакансии

                    `true` - черновик вакансии

                    `false` - вакансия не является черновиком
                company_department_id:
                  type: number
                  description: 'ID Отдела. Может быть получен из `GET /api/v2/company_departments.json`, механизм аутентификации аналогичен'
                demand:
                  type: number
                  description: Количество вакантных мест
                private:
                  description: |-
                    Признак конфиденциальности вакансии

                    `true` - конфиденциальная вакансия

                    `false` - неконфиденциальная вакансия
                  type: boolean
                closure_date:
                  type: string
                  description: 'Ожидаемая дата закрытия, `YYYY-MM-DD`'
                additional_info:
                  type: string
                  description: Комментарий к вакансии
              required:
                - name
            examples:
              Пример запроса:
                value:
                  name: Начальник технического отдела
                  description: Вакансия для тех. отдела ООО Аврора
                  city: 1
                  salary_from: 100000
                  salary_to: 200000
                  employment_type: full
                  experience_type: noExperience
                  schedule_type: fullDay
                  currency_type: RUR
                  key_skills:
                    - стрессоустойчивость
                  job_type: point
                  is_draft: false
                  company_department_id: ''
                  demand: 1
                  private: false
                  closure_date: '2023-07-17'
                  additional_info: закрыть как можно скорее
        description: ''
      x-internal: false
    parameters: []
  '/jobs/{id}.json':
    get:
      summary: Получение вакансии по ID
      tags:
        - вакансии
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 0
                        name: string
                        description: string
                        company_department: {}
                        schedule_type: string
                        salary_from: 0
                        salary_to: 0
                        code: string
                        code_enable: true
                        experience_type: string
                        employment_type: string
                        currency_type: string
                        key_skills:
                          - string
                        city: string
                        published: true
                        publish_location: {}
                        applicants_count:
                          all: 0
                          active: 0
                        created_at: string
                        updated_at: string
                        stages:
                          - id: 0
                            name: string
                            serial: 0
                            active_applicants: 0
                            declined_applicants: 0
                        author:
                          id: 0
                          name: string
                          avatar: string
                        job_bindings:
                          - {}
                        executive_recruiter:
                          id: 0
                          name: string
                          avatar: string
                        jobs_users:
                          - id: 0
                            job_id: 0
                            role:
                              id: 0
                              company_id: 0
                              name: string
                              role_type: string
                            user:
                              id: 0
                              name: string
                              email: string
                              avatar: string
                        first_opened_at: string
                        archived: true
                        demand: 0
                        state_id: string
                        closed_at: string
                        closure_date: string
                        private: true
                        direction_code: string
                        job_type: string
                        staffing_item_full_ext_id: string
                        staffing_item_parent_full_ext_id: string
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
          headers: {}
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
      operationId: get-jobs-id-.json
      description: |-
        Получение данных вакансию по ее ID. Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.

        Если вакансия с указанным ID не найдена, Potok возвращает код 200 с телом `null`.
      parameters: []
    parameters:
      - schema:
          type: number
          example: 16564
        name: id
        in: path
        required: true
        description: ID Вакансии
  '/applicants/{applicant_id}/resumes.json':
    parameters:
      - schema:
          type: string
          example: '12345'
        name: applicant_id
        in: path
        required: true
        description: ID кандидата
    post:
      summary: Добавление резюме с параметрами
      tags:
        - резюме
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '':
                    $ref: '#/components/schemas/resume_response'
              examples:
                Пример ответа:
                  value:
                    '':
                      id: 1
                      cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
                      cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
                      cv_params:
                        salary:
                          amount: '90000'
                          currency: RUR
                        title: желаемая должность
                        education:
                          level:
                            id: master
                            name: Магистр
                            parent: Высшее
                          primary:
                            - name: учебное заведение
                              organization: факультет
                              result: специализация
                              course:
                                id: graduate
                                value: Выпускник/выпускница
                              form:
                                id: full_time
                                value: Очная
                              year: '2020'
                              average_degree:
                                id: 4+
                                value: 'От 4 до 4,49'
                          attestation:
                            - name: название теста
                              organization: Проводившая организация
                              result: Специализация
                              year: Год сдачи
                          additional:
                            - name: название курса
                              year: год
                              organization: Организация
                              result: Результат
                        skills: дополнительная информация
                        about_me: обо мне
                        travel_time:
                          id: less_than_hour
                          name: Не более часа
                        relocation:
                          area:
                            - id: '1'
                              name: Москва
                          type:
                            id: no_relocation
                            name: не готов к переезду
                        business_trip_readiness:
                          id: ready
                          name: готов к командировкам
                        ext_id: '12314'
                        ext_applicant_id: '14124'
                        ext_source: headhunter
                        specialization:
                          - id: '1.420'
                            name: Администратор баз данных
                        employment:
                          - id: full
                            name: Полная занятость
                        schedule:
                          - id: fullDay
                            name: Полный день
                        experience:
                          - start: '2020-06-25'
                            end: '2020-06-25'
                            now: false
                            company: организация
                            area:
                              id: '1'
                              name: Москва
                            company_url: 'https://yandex.ru/maps'
                            position: должность в опыте работы
                            description: описание опыта работы
                        awards:
                          - date: '1961-04-12'
                            name: Лётчик-космонавт СССР
                            organization: СССР
                            description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                        projects:
                          - start: '2020-06-25'
                            end: '2020-06-28'
                            name: название проекта
                            description: описание проекта
                        skill_set:
                          - Git
                          - SQL
                          - 1С программирование
                          - Деловая коммуникация
                        certificate:
                          - title: сертификат
                            url: ссылка
                            company: Организация
                            achieved_at: '2020-06-28'
                        recommendation:
                          - name: имя рекомендации
                            contact: Контакт
                            position: Должность
                            organization: Организация
                        languages:
                          - id: eng
                            name: Английский
                            level:
                              id: a1
                              name: A1 — Начальный
                        citizenship:
                          - id: '113'
                            name: Россия
                        work_ticket:
                          - id: '40'
                            name: Казахстан
        '400':
          description: Ошибка параметров запроса
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
      operationId: post-applicants-applicant_id-resumes.json
      description: 'Добавление резюме в карточку кандидата по конкретным параметрам. Метод возвращает только статические поля. '
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cv_params_request'
            examples:
              Пример запроса:
                value:
                  cv_params:
                    title: желаемая должность
                    salary:
                      amount: '90000'
                      currency: RUR
                    specialization:
                      - id: '1.420'
                        name: Администратор баз данных
                    schedule:
                      - id: fullDay
                        name: Полный день
                    employment:
                      - id: full
                        name: Полная занятость
                    experience:
                      - start: '2020-06-25'
                        end: '2020-06-25'
                        now: false
                        company: организация
                        area:
                          id: '1'
                          name: Москва
                        company_url: 'https://yandex.ru/maps'
                        position: должность в опыте работы
                        description: описание опыта работы
                    awards:
                      - date: '1961-04-12'
                        name: Лётчик-космонавт СССР
                        organization: СССР
                        description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                    projects:
                      - start: '2020-06-25'
                        end: '2020-06-28'
                        name: название проекта
                        description: описание проекта
                    skill_set:
                      - Git
                      - SQL
                      - 1С программирование
                      - Деловая коммуникация
                    education:
                      level:
                        id: master
                        name: Магистр
                        parent: Высшее
                      primary:
                        - name: учебное заведение
                          organization: факультет
                          result: специализация
                          course:
                            id: graduate
                            value: Выпускник/выпускница
                          form:
                            id: full_time
                            value: Очная
                          year: '2020'
                          average_degree:
                            id: 4+
                            value: 'От 4 до 4,49'
                      attestation:
                        - name: название теста
                          organization: Проводившая организация
                          result: Специализация
                          year: Год сдачи
                      additional:
                        - name: название курса
                          year: год
                          organization: Организация
                          result: Результат
                    certificate:
                      - title: сертификат
                        url: ссылка
                        company: Организация
                        achieved_at: '2020-06-28'
                    about_me: обо мне
                    skills: доп информация
                    recommendation:
                      - name: имя рекомендации
                        contact: Контакт
                        position: Должность
                        organization: Организация
                    languages:
                      - id: eng
                        name: Английский
                        level:
                          id: a1
                          name: A1 — Начальный
                    travel_time:
                      id: less_than_hour
                      name: Не более часа
                    citizenship:
                      - id: '113'
                        name: Россия
                    work_ticket:
                      - id: '40'
                        name: Казахстан
                    relocation:
                      area:
                        - id: '1'
                          name: Москва
                      type:
                        id: no_relocation
                        name: не готов к переезду
                    business_trip_readiness:
                      id: ready
                      name: готов к командировкам
        description: ''
      parameters: []
  '/applicants/{applicant_id}/resume_file.json':
    parameters:
      - schema:
          type: string
          example: '12345'
        name: applicant_id
        in: path
        required: true
        description: ID кандидата
    post:
      summary: Добавление файла резюме
      tags:
        - резюме
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    '':
                      $ref: '#/components/schemas/resume_response'
              examples:
                Пример ответа:
                  value:
                    - id: 1
                      cv_original: 'https://app.potok.io/uploads/resume/cv_original/31622915/example.pdf'
                      cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/example.html'
                      cv_params:
                        salary: {}
                        title: null
                        education: {}
                        skills: null
                        about_me: null
                        travel_time: {}
                        relocation: {}
                        business_trip_readiness: {}
                        ext_id: ''
                        ext_applicant_id: null
                        ext_source: null
                        specialization: []
                        employment: []
                        schedule: []
                        experience: []
                        awards: []
                        projects: []
                        skill_set: []
                        certificate: []
                        recommendation: []
                        languages: []
                        citizenship: []
                        work_ticket: []
        '400':
          description: Ошибка параметров запроса
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '422':
          description: 'Ошибки при заполнении полей: не заполнено поле, неверный формат и прочие ошибки валидации на разных этапах с указанием полей, в которых произошла ошибка'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                      cv_original:
                        - 'Слишком большой файл. Максимальный размер — 10,0 МБ'
                properties:
                  errors:
                    type: object
                required:
                  - errors
              examples:
                Пример ответа:
                  value:
                    errors:
                      cv_original:
                        - 'Слишком большой файл. Максимальный размер — 10,0 МБ'
                Пример ответа 2:
                  value:
                    errors:
                      base:
                        - Формат файла не поддерживается
                      cv_original:
                        - 'имеет неразрешенное расширение png. Корректные расширения: doc, docx, pdf, rtf, html.'
                Пример ответа 3:
                  value:
                    errors:
                      base:
                        - Формат файла не поддерживается
                Пример ответа 4:
                  value:
                    errors:
                      base:
                        - прервана попытка загрузить зараженный файл
      operationId: post-applicants-applicant_id-resume_file.json
      description: |-
        Добавление файла резюме в карточку кандидата. Метод возвращает массив всех резюме кандидата (возвращает только статические поля)


        Допустимые расширения файлов - doc, docx, pdf, rtf, html. Размер файла резюме должен быть меньше 10 Мбайт.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                cv_original:
                  type: string
                  format: binary
                  description: Ссылка на файл резюме
              required:
                - cv_original
            examples: {}
components:
  schemas:
    author:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 0
          name: string
          avatar: string
      title: Создатель вакансии
      properties:
        id:
          type: number
          description: ID Создателя вакансии
        name:
          type: string
          description: ФИО Создателя вакансии
        email:
          type: string
          description: Email создателя вакансии
        avatar:
          type: string
          description: Ссылка на аватар создателя вакансии
        phones:
          type: array
          description: |-
            Массив всегда из одного элемента.
            Номер телефона создателя вакансии строкой
          items:
            type: string
      required:
        - id
        - name
        - email
        - avatar
    stages:
      description: ''
      type: object
      x-examples:
        example-1:
          id: 0
          name: string
          serial: 0
          active_applicants: 0
          declined_applicants: 0
      title: Этапы воронки
      properties:
        id:
          type: number
          description: ID Этапа вакансии
        name:
          type: string
          description: Название этапа вакансии
        serial:
          type: number
          description: Порядковый номер этапа в воронке
        active_applicants:
          type: number
          description: Количество активных кандидатов на этапе
        declined_applicants:
          type: number
          description: Количество отклоненных кандидатов на этапе
        stage_type:
          type: string
          description: ID Типа этапа
      required:
        - id
        - name
        - serial
        - active_applicants
        - declined_applicants
        - stage_type
    Job:
      type: array
      description: ''
      uniqueItems: true
      x-examples:
        example-1:
          - id: 1911
            name: Начальник технического отдела
            description: string
            company_department:
              archived: false
              id: 52
              name: IT Department
            schedule_type: fullDay
            salary_from: 10000
            salary_to: 20000
            code: '1599'
            code_enable: false
            experience_type: noExperience
            employment_type: full
            currency_type: RUR
            key_skills:
              - умелый
            city: '1'
            published: true
            publish_location: string
            applicants_count:
              all: 4
              active: 2
            created_at: '2020-07-17T10:38:55.904+03:00'
            updated_at: '2022-08-22T08:50:21.638+03:00'
            stages:
              - id: 1432
                name: Проверка СБ
                serial: 456
                active_applicants: 1
                declined_applicants: 1
                stage_type: security
            author:
              id: 148846
              name: Иван Иванов Иванович
              email: ivan@ivanov.com
              avatar: 'https://avatarka.zdes/ava.jpg'
              phones:
                - '87771110000'
            job_bindings:
              - id: 8899
                type: 'JobBinding::Career'
                url: 'https://ivanov@mysupersite.com/open/jobs/223234'
                info:
                  name: Повар
                  description: string
                  schedule_type: fullDay
            executive_recruiter:
              id: 412412
              name: Иванов Иван Иванович
              email: ivanov@ivan.tut
              avatar: 'https://avatarka.zdes/ava.jpg'
              phones:
                - '18888324'
            jobs_users:
              - id: 1231
                job_id: 4322
                role:
                  id: 13
                  company_id: 99
                  name: Суперадмин
                  role_type: superadmin
                  billing: true
                user:
                  id: 14
                  name: Alabai
                  email: bumaga@tochka.cot
                  avatar: 'https://avatarka.zdes/ava.jpg'
                  phones:
                    - '123123124'
            first_opened_at: '2020-07-17T10:38:55.900+03:00'
            archived: true
            demand: 5
            state_id: opened
            closed_at: string
            closure_date: '2021-09-30T00:00:00.000+03:00'
            private: true
            direction_code: point
            job_type: point
            staffing_item_full_ext_id: position_12423
            staffing_item_parent_full_ext_id: department_33448
      examples:
        - - id: 1911
            name: Начальник технического отдела
            description: |-
              <div>
              <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
              <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
              <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
              </div>
            schedule_type: fullDay
            salary_from: 10000
            salary_to: 20000
            code: 12
            code_enable: true
            experience_type: noExperience
            employment_type: full
            currency_type: RUR
            key_skills:
              - стрессоустойчивый
            city: '1'
            created_at: '2020-07-17T10:38:55.904+03:00'
            updated_at: '2021-07-17T10:38:55.904+03:00'
            first_opened_at: '2020-07-17T10:38:55.904+03:00'
            archived: false
            demand: 1
            closed_at: '2021-07-17T10:38:55.904+03:00'
            closure_date: '2022-07-17T10:38:55.904+03:00'
            private: false
            direction_code: '1357'
            job_type: point
            staffing_item_full_ext_id: position_1234
            staffing_item_parent_full_ext_id: department_4321
            priority: highest
            state_id: opened
            company_department:
              archived: false
              id: 3121
              name: IT Department
            published: true
            publish_location: 'https://career.potok.io/open/jobs/1911'
            applicants_count:
              all: 3
              active: 2
            stages:
              - id: 1918
                name: Проверка СБ
                serial: 789
                active_applicants: 2
                declined_applicants: 1
                stage_type: security
            author:
              id: 11
              name: Иванов Иван Иванович
              email: ivan@ivanov.com
              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
              phones:
                - '79996543221'
            job_bindings:
              - id: 657
                type: 'JobBinding::Career'
                url: 'https://career.potok.io/open/jobs/1911'
                info:
                  name: Начальник технического отдела
                  description: |-
                    <div>
                    <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                    <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                    <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                    </div>
                  schedule_type: fullDay
            executive_recruiter:
              id: 11
              name: Иванов Иван Иванович
              email: ivan@ivanov.com
              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
              phones:
                - '79996543221'
            jobs_users:
              - id: 1234
                job_id: 1911
                role:
                  id: 4321
                  company_id: 99
                  name: Суперадмин
                  role_type: superadmin
                  billing: true
                user:
                  id: 11
                  name: Иванов Иван Иванович
                  email: ivan@ivanov.com
                  avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                  phones:
                    - '79996543221'
      title: ''
      items:
        type: object
        properties:
          id:
            type: number
            description: ID Вакансии
          name:
            type: string
            description: Название вакансии
          description:
            type: string
            description: Описание вакансии
          schedule_type:
            type: string
            description: ID Графика работы (словарь - `schedule_type`)
          salary_from:
            type: number
            description: Ожидаемая ЗП от
          salary_to:
            type: number
            description: Ожидаемая ЗП до
          code:
            type: number
            description: Код вакансии
          code_enable:
            type: boolean
            description: |-
              Признак активности кода

              `true` - код вакансии включен

              `false` - код вакансии выключен
          experience_type:
            type: string
            description: ID Опыта работы (словарь - `experience_type`)
          employment_type:
            type: string
            description: ID Занятости (словарь - `employment_type`)
          currency_type:
            type: string
            description: ID Валюты (словарь - `currency_type`)
          key_skills:
            type: array
            description: Массив ключевых навыков
            items:
              type: string
          city:
            type: string
            description: ID Города вакансии (словарь - `cities`)
          created_at:
            type: string
            description: 'Время создания вакансии (в формате [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) с точностью до миллисекунд `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`)'
          updated_at:
            type: string
            description: 'Время обновления вакансии (в формате [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) с точностью до миллисекунд `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`)'
          first_opened_at:
            type: string
            description: 'Фактическое время открытия вакансии (в формате [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) с точностью до миллисекунд `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`)'
          archived:
            type: boolean
            description: |-
              Признак архивности вакансии

              `true` - вакансия находится в архиве

              `false` - вакансия не находится в архиве
          demand:
            type: number
            description: Количество вакантных мест
          closed_at:
            type: string
            description: 'Фактическое время закрытия вакансии (в формате [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) с точностью до миллисекунд `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`)'
          closure_date:
            type: string
            description: 'Ожидаемое время закрытия вакансии (в формате [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) с точностью до миллисекунд `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`)'
          private:
            type: boolean
            description: |-
              Признак конфиденциальности вакансии

              `true` - конфиденциальная вакансия

              `false` - неконфиденциальная вакансия
          direction_code:
            type: string
            description: |-
              Код направления подбора (в компании могут быть добавлены дополнительные направления)

              `point` - точечный подбор
          job_type:
            type: string
            description: |-
              ID воронки подбора (в компании могут быть добавлены дополнительные воронки)

              `point` - точечный подбор
          staffing_item_full_ext_id:
            type: string
            description: ID Должности из штатной структуры
          staffing_item_parent_full_ext_id:
            type: string
            description: ID Подразделения из штатной структуры
          priority:
            type: string
            description: |-
              Приоритет вакансии

              `low` - низкий

              `medium` - средний

              `high` - высокий

              `highest` - наивысший
          state_id:
            type: string
            description: |-
              ID Статуса вакансии

              `opened` - вакансия открыта

              `paused` - вакансия приостановлена

              `closed` - вакансия закрыта

              `canceld` - вакансия отменена
          company_department:
            type: object
            description: Отдел
            properties:
              archived:
                type: boolean
                description: |-
                  Признак архивности отдела

                  `true` - находится в архиве

                  `false` - не находится в архиве
              id:
                type: number
                description: ID Отдела
              name:
                type: string
                description: Название отдела
          published:
            type: boolean
            description: |-
              Признак опубликованности вакансии на карьерном сайте

              `true` - вакансия опубликована

              `false` - ваканся неопубликована
          publish_location:
            type: string
            description: URL Вакансии на карьерной странице. Может быть `null`
          applicants_count:
            type: object
            description: Количество кандидатов на вакансии
            required:
              - all
              - active
            properties:
              all:
                type: number
                description: 'Все кандидаты, включая отклоненных'
              active:
                type: number
                description: Активные кандидаты
          stages:
            type: array
            uniqueItems: true
            description: Массив этапов на вакансии
            items:
              $ref: '#/components/schemas/stages'
          author:
            $ref: '#/components/schemas/author'
          job_bindings:
            type: array
            uniqueItems: true
            description: Массив активных публикаций на работных сайтах
            items:
              type: object
              properties:
                id:
                  type: number
                  description: ID Публикации
                type:
                  type: string
                  description: |-
                    Тип публикации: 
                    `JobBinding::Remote`,
                    `JobBinding::CompanyPartner`,
                    `JobBinding::Vcv`,
                    `JobBinding::Superjob`,
                    `JobBinding::Headhunter`,
                    `JobBinding::Avito`,
                    `JobBinding::Icanchoose`,
                    `JobBinding::Career`
                url:
                  type: string
                  description: URL Публикации
                info:
                  type: object
                  description: Информация о публикации
                  properties:
                    name:
                      type: string
                      description: Название публикации
                    description:
                      type: string
                      description: Описание публикации
                    schedule_type:
                      type: string
                      description: ID Графика работы (словарь - `schedule_type`)
          executive_recruiter:
            type: object
            description: Ответственный рекрутер
            properties:
              id:
                type: number
                description: ID Ответственного рекрутера
              name:
                type: string
                description: ФИО Ответственного рекрутера
              email:
                type: string
                description: Email ответственного рекрутера
              avatar:
                type: string
                description: Ссылка на аватар ответственного рекрутера
              phones:
                type: array
                description: |-
                  Массив всегда из одного элемента.
                  Номер телефона ответственного рекрутера строкой
                items:
                  type: string
          jobs_users:
            type: array
            uniqueItems: true
            description: Массив пользователей команды по вакансии
            items:
              type: object
              properties:
                id:
                  type: number
                  description: ID связки пользователя с вакансией
                job_id:
                  type: number
                  description: ID Вакансии
                role:
                  type: object
                  description: Роль пользователя
                  required:
                    - id
                    - company_id
                    - name
                    - role_type
                    - billing
                  properties:
                    id:
                      type: number
                      description: ID Роли
                    company_id:
                      type: number
                      description: ID Компании
                    name:
                      type: string
                      description: Название роли
                    role_type:
                      type: string
                      description: 'Тип роли, например `manager`'
                    billing:
                      type: boolean
                      description: |-
                        Признак платной роли

                        `true` - платная роль

                        `false` - бесплатная роль
                user:
                  type: object
                  description: Пользователь в команде по вакансии
                  required:
                    - id
                    - name
                    - email
                    - avatar
                  properties:
                    id:
                      type: number
                      description: ID Пользователя
                    name:
                      type: string
                      description: ФИО Пользователя
                    email:
                      type: string
                      description: Email пользователя
                    avatar:
                      type: string
                      description: Ссылка на аватар пользователя
                    phones:
                      type: array
                      description: |-
                        Массив всегда из одного элемента.
                        Номер телефона пользователя строкой
                      items:
                        type: string
              required:
                - id
                - job_id
                - role
                - user
        required:
          - id
          - name
          - schedule_type
          - salary_from
          - salary_to
          - code
          - code_enable
          - experience_type
          - employment_type
          - currency_type
          - city
          - created_at
          - updated_at
          - first_opened_at
          - archived
          - demand
          - closed_at
          - closure_date
          - private
          - direction_code
          - job_type
          - staffing_item_full_ext_id
          - staffing_item_parent_full_ext_id
          - priority
          - state_id
          - company_department
          - published
          - publish_location
          - applicants_count
          - stages
          - author
          - executive_recruiter
          - jobs_users
    cv_params_request:
      type: object
      x-examples:
        example-1:
          cv_params:
            title: желаемая должность
            salary:
              amount: '90000'
              currency: RUR
            specialization:
              - id: '1.420'
                name: Администратор баз данных
            schedule:
              - id: fullDay
                name: Полный день
            employment:
              - id: full
                name: Полная занятость
            experience:
              - start: '2020-06-25'
                end: '2020-06-25'
                now: false
                company: организация
                area:
                  id: '1'
                  name: Москва
                company_url: 'https://yandex.ru/maps'
                position: должность в опыте работы
                description: описание опыта работы
            awards:
              - date: '1961-04-12'
                name: Лётчик-космонавт СССР
                organization: СССР
                description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
            projects:
              - start: '2020-06-25'
                end: '2020-06-28'
                name: название проекта
                description: описание проекта
            skill_set:
              - Git
              - SQL
              - 1С программирование
              - Деловая коммуникация
            education:
              level:
                id: master
                name: Магистр
                parent: Высшее
              primary:
                - name: учебное заведение
                  organization: факультет
                  result: специализация
                  course:
                    id: graduate
                    value: Выпускник/выпускница
                  form:
                    id: full_time
                    value: Очная
                  year: '2020'
                  average_degree:
                    id: 4+
                    value: 'От 4 до 4,49'
              attestation:
                - name: название теста
                  organization: Проводившая организация
                  result: Специализация
                  year: Год сдачи
              additional:
                - name: название курса
                  year: год
                  organization: Организация
                  result: Результат
            certificate:
              - title: сертификат
                url: ссылка
                company: Организация
                achieved_at: '2020-06-28'
            about_me: обо мне
            skills: доп информация
            recommendation:
              - name: имя рекомендации
                contact: Контакт
                position: Должность
                organization: Организация
            languages:
              - id: eng
                name: Английский
                level:
                  id: a1
                  name: A1 — Начальный
            travel_time:
              id: less_than_hour
              name: Не более часа
            citizenship:
              - id: '113'
                name: Россия
            work_ticket:
              - id: '40'
                name: Казахстан
            relocation:
              area:
                - id: '1'
                  name: Москва
              type:
                id: no_relocation
                name: не готов к переезду
            business_trip_readiness:
              id: ready
              name: готов к командировкам
      examples:
        - cv_params:
            title: желаемая должность
            salary:
              amount: '90000'
              currency: RUR
            specialization:
              - id: '1.420'
                name: Администратор баз данных
            schedule:
              - id: fullDay
                name: Полный день
            employment:
              - id: full
                name: Полная занятость
            experience:
              - start: '2020-06-25'
                end: '2020-06-25'
                now: false
                company: организация
                area:
                  id: '1'
                  name: Москва
                company_url: 'https://yandex.ru/maps'
                position: должность в опыте работы
                description: описание опыта работы
            awards:
              - date: '1961-04-12'
                name: Лётчик-космонавт СССР
                organization: СССР
                description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
            projects:
              - start: '2020-06-25'
                end: '2020-06-28'
                name: название проекта
                description: описание проекта
            skill_set:
              - Git
              - SQL
              - 1С программирование
              - Деловая коммуникация
            education:
              level:
                id: master
                name: Магистр
                parent: Высшее
              primary:
                - name: учебное заведение
                  organization: факультет
                  result: специализация
                  course:
                    id: graduate
                    value: Выпускник/выпускница
                  form:
                    id: full_time
                    value: Очная
                  year: '2020'
                  average_degree:
                    id: 4+
                    value: 'От 4 до 4,49'
              attestation:
                - name: название теста
                  organization: Проводившая организация
                  result: Специализация
                  year: Год сдачи
              additional:
                - name: название курса
                  year: год
                  organization: Организация
                  result: Результат
            certificate:
              - title: сертификат
                url: ссылка
                company: Организация
                achieved_at: '2020-06-28'
            about_me: обо мне
            skills: доп информация
            recommendation:
              - name: имя рекомендации
                contact: Контакт
                position: Должность
                organization: Организация
            languages:
              - id: eng
                name: Английский
                level:
                  id: a1
                  name: A1 — Начальный
            travel_time:
              id: less_than_hour
              name: Не более часа
            citizenship:
              - id: '113'
                name: Россия
            work_ticket:
              - id: '40'
                name: Казахстан
            relocation:
              area:
                - id: '1'
                  name: Москва
              type:
                id: no_relocation
                name: не готов к переезду
            business_trip_readiness:
              id: ready
              name: готов к командировкам
      title: ''
      properties:
        cv_params:
          type: object
          description: 'Резюме кандидата, разбитое по блокам'
          properties:
            salary:
              type: object
              description: Ожидаемая ЗП
              properties:
                amount:
                  type: string
                  description: Зарплата в числовом эквиваленте
                currency:
                  type: string
                  description: ID Валюты (словарь - `currency_type`)
            title:
              type: string
              description: Название должности
            education:
              type: object
              description: Образование кандидата
              properties:
                level:
                  type: object
                  description: Уровень образования (словарь - `education_level`)
                  properties:
                    id:
                      type: string
                      description: ID уровня образования
                    name:
                      type: string
                      description: Название уровня образования
                    parent:
                      type: string
                      description: Тип образования (к примеру `Высшее`)
                primary:
                  type: array
                  description: Массив учебных заведений кандидата
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название учебного заведения
                      organization:
                        type: string
                        description: 'Факультет '
                      result:
                        type: string
                        description: Специализация
                      course:
                        type: object
                        description: Курс кандидата (словарь - `education_course`)
                        properties:
                          id:
                            type: string
                            description: ID курса
                          value:
                            type: string
                            description: Форма обучения
                      form:
                        type: object
                        description: Форма обучения (словарь - `education_form`)
                        properties:
                          id:
                            type: string
                            description: ID формы обучения
                          value:
                            type: string
                            description: Форма обучения
                      year:
                        type: string
                        description: Год окончания (в формате `YYYY`)
                      average_degree:
                        type: object
                        description: Средний балл кандидата (словарь - `education_average_degree`)
                        properties:
                          id:
                            type: string
                            description: ID среднего балла
                          value:
                            type: string
                            description: Значение среднего балла
                attestation:
                  type: array
                  description: Массив тестов и экзаменов кандидата
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название теста (экзамена)
                      organization:
                        type: string
                        description: 'Организация, проводившая тест (экзамен)'
                      result:
                        type: string
                        description: Резлуьтат теста (экзамена)
                      year:
                        type: string
                        description: Год прохождения теста (экзамена)
                additional:
                  type: array
                  description: Курсы повышения квалификации
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название курса
                      year:
                        type: string
                        description: Год прохождения курса
                      organization:
                        type: string
                        description: 'Организация, проводившая курс'
                      result:
                        type: string
                        description: Результат прохождения курса
            skills:
              type: string
              description: Дополнительная информация
            about_me:
              type: string
              description: Раздел `Обо мне`
            travel_time:
              type: object
              description: Желательное время пути до работы (словарь - `travel_time`)
              properties:
                id:
                  type: string
                  description: ID времени пути
                name:
                  type: string
                  description: Название времени пути
            relocation:
              type: object
              description: Готовность к переезду (командировкам)
              properties:
                area:
                  type: array
                  description: Массив городов для переезда (словарь `cities`)
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: ID города
                      name:
                        type: string
                        description: Название города
                type:
                  type: object
                  description: Готовность к переезду (словарь - `relocation_type`)
                  properties:
                    id:
                      type: string
                      description: ID признака готовности к переезду
                    name:
                      type: string
                      description: Название признака готовности к переезду
            business_trip_readiness:
              type: object
              description: Готовность к командировкам (словарь - `business_trip_readiness`)
              properties:
                id:
                  type: string
                  description: ID признака готовности к коман
                name:
                  type: string
                  description: Название признака готовности к командировкам
            specialization:
              type: array
              description: Массив специализаций кандидата (словарь - `specializations`
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID специализации
                  name:
                    type: string
                    description: Название специализации
            employment:
              type: array
              description: Массив занятости кандидата (словарь - `employment_type`)
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID занятости
                  name:
                    type: string
                    description: Название занятости
            schedule:
              type: array
              description: Массив графиков работы кандидата (словарь - `applicant_schedule`)
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID графика работы
                  name:
                    type: string
                    description: Название графика работы
            experience:
              type: array
              description: Массив опытов работы кандидата
              items:
                type: object
                properties:
                  start:
                    type: string
                    description: Дата начала работы (в формате `YYYY-MM-DD`)
                  end:
                    type: string
                    description: Дата окончания работы (в формате `YYYY-MM-DD`)
                  now:
                    type: boolean
                    description: |-
                      Признак текущей работы

                      `true` - работает в настоящий момент

                      `false` - в настоящий момент не работает
                  company:
                    type: string
                    description: Название организации
                  area:
                    type: object
                    description: Город кандидата (словарь `cities`)
                    properties:
                      id:
                        type: string
                        description: 'ID города '
                      name:
                        type: string
                        description: Название города
                  company_url:
                    type: string
                    description: Веб-сайт организации
                  position:
                    type: string
                    description: Должность в организации
                  description:
                    type: string
                    description: Описание опыта работы
            awards:
              type: array
              description: Массив достижений кандидата
              items:
                type: object
                properties:
                  date:
                    type: string
                    description: Дата получения достижения (в формате `YYYY-MM-DD`)
                  name:
                    type: string
                    description: Название достижения
                  organization:
                    type: string
                    description: 'Организация, в которой получено достижение'
                  description:
                    type: string
                    description: Описание достижения
            projects:
              type: array
              description: Массив проектов кандидата
              items:
                type: object
                properties:
                  start:
                    type: string
                    description: Дата начала проекта (в формате `YYYY-MM-DD`)
                  end:
                    type: string
                    description: Дата окончания проекта (в формате `YYYY-MM-DD`)
                  name:
                    type: string
                    description: Название проекта
                  description:
                    type: string
                    description: Описание проекта
            skill_set:
              type: array
              description: Массив ключевых навыков кандидата
              items:
                type: string
            certificate:
              type: array
              description: Массив сертификатов кандидата
              items:
                type: object
                properties:
                  title:
                    type: string
                    description: Название сертификата
                  url:
                    type: string
                    description: URL сертификата
                  company:
                    type: string
                    description: 'Организация, выдавшая сертификат'
                  achieved_at:
                    type: string
                    description: Дата получения сертификата (в формате `YYYY-MM-DD`)
            recommendation:
              type: array
              description: Массив рекомендаций кандидата
              items:
                type: object
                properties:
                  name:
                    type: string
                    description: Название рекомендации
                  contact:
                    type: string
                    description: Контакты рекомендателя
                  position:
                    type: string
                    description: Должность рекомендателя
                  organization:
                    type: string
                    description: Организация рекомендателя
            languages:
              type: array
              description: Массив языков кандидата (словарь - `languages`)
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID языка
                  name:
                    type: string
                    description: Название язка
                  level:
                    type: object
                    description: Уровень владения языком (словарь - `language_level`)
                    properties:
                      id:
                        type: string
                        description: ID уровня владения
                      name:
                        type: string
                        description: Название уровня владения
            citizenship:
              type: array
              description: Массив гражданств кандидата (словарь - `citizenship`)
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: ID города гражданства
                  name:
                    type: string
                    description: Город гражданства
            work_ticket:
              type: array
              description: Массив разрешений на работу (словарь - `citizenship`)
              items:
                type: object
                properties:
                  id:
                    type: string
                    description: 'ID города '
                  name:
                    type: string
                    description: Название города
      required:
        - cv_params
    resume_response:
      type: object
      x-examples:
        example-1:
          id: 1
          cv_original: null
          cv_html: null
          cv_params:
            salary: {}
            title: null
            education: {}
            skills: null
            about_me: null
            travel_time: {}
            relocation: {}
            business_trip_readiness: {}
            beeline_fields: null
            danone_fields: {}
            daxtra_request_log_id: null
            ext_id: ''
            ext_applicant_id: null
            ext_source: null
            total_experience: null
            experience_started_at: null
            specialization: []
            employment: []
            schedule: []
            experience: []
            awards: []
            projects: []
            skill_set: []
            certificate: []
            recommendation: []
            languages: []
            citizenship: []
            work_ticket: []
            social_link: []
      examples:
        - id: 1
          cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
          cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
          cv_params:
            salary:
              amount: '90000'
              currency: RUR
            title: желаемая должность
            education:
              level:
                id: master
                name: Магистр
                parent: Высшее
              primary:
                - name: учебное заведение
                  organization: факультет
                  result: специализация
                  course:
                    id: graduate
                    value: Выпускник/выпускница
                  form:
                    id: full_time
                    value: Очная
                  year: '2020'
                  average_degree:
                    id: 4+
                    value: 'От 4 до 4,49'
              attestation:
                - name: название теста
                  organization: Проводившая организация
                  result: Специализация
                  year: Год сдачи
              additional:
                - name: название курса
                  year: год
                  organization: Организация
                  result: Результат
            skills: дополнительная информация
            about_me: обо мне
            travel_time:
              id: less_than_hour
              name: Не более часа
            relocation:
              area:
                - id: '1'
                  name: Москва
              type:
                id: no_relocation
                name: не готов к переезду
            business_trip_readiness:
              id: ready
              name: готов к командировкам
            ext_id: ''
            ext_applicant_id: null
            ext_source: null
            specialization:
              - id: '1.420'
                name: Администратор баз данных
            employment:
              - id: full
                name: Полная занятость
            schedule:
              - id: fullDay
                name: Полный день
            experience:
              - start: '2020-06-25'
                end: '2020-06-25'
                now: false
                company: организация
                area:
                  id: '1'
                  name: Москва
                company_url: 'https://yandex.ru/maps'
                position: должность в опыте работы
                description: описание опыта работы
            awards:
              - date: '1961-04-12'
                name: Лётчик-космонавт СССР
                organization: СССР
                description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
            projects:
              - start: '2020-06-25'
                end: '2020-06-28'
                name: название проекта
                description: описание проекта
            skill_set:
              - Git
              - SQL
              - 1С программирование
              - Деловая коммуникация
            certificate:
              - title: сертификат
                url: ссылка
                company: Организация
                achieved_at: '2020-06-28'
            recommendation:
              - name: имя рекомендации
                contact: Контакт
                position: Должность
                organization: Организация
            languages:
              - id: eng
                name: Английский
                level:
                  id: a1
                  name: A1 — Начальный
            citizenship:
              - id: '113'
                name: Россия
            work_ticket:
              - id: '40'
                name: Казахстан
      properties:
        id:
          type: integer
          description: ID резюме
        cv_original:
          type: string
          description: Ссылка на оригинальный файл
        cv_html:
          type: string
          description: Ссылка на html версию оригинального файла
        cv_params:
          type: object
          description: 'Резюме кандидата, разбитое по блокам'
          required:
            - salary
            - title
            - education
            - skills
            - about_me
            - travel_time
            - relocation
            - business_trip_readiness
            - ext_id
            - ext_applicant_id
            - ext_source
            - specialization
            - employment
            - schedule
            - experience
            - awards
            - projects
            - skill_set
            - certificate
            - recommendation
            - languages
            - citizenship
            - work_ticket
          properties:
            salary:
              type: object
              description: Ожидаемая ЗП
              properties:
                amount:
                  type: string
                  description: Зарплата в числовом эквиваленте
                currency:
                  type: string
                  description: ID Валюты (словарь - `currency_type`)
            title:
              type: string
              description: Название должности
            education:
              type: object
              description: Образование кандидата
              properties:
                level:
                  type: object
                  description: Уровень образования (словарь - `education_level`)
                  properties:
                    id:
                      type: string
                      description: ID уровня образования
                    name:
                      type: string
                      description: Название уровня образования
                    parent:
                      type: string
                      description: Тип образования (к примеру `Высшее`)
                primary:
                  type: array
                  description: Массив учебных заведений кандидата
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название учебного заведения
                      organization:
                        type: string
                        description: 'Факультет '
                      result:
                        type: string
                        description: Специализация
                      course:
                        type: object
                        description: Курс кандидата (словарь - `education_course`)
                        properties:
                          id:
                            type: string
                            description: ID курса
                          value:
                            type: string
                            description: Форма обучения
                      form:
                        type: object
                        description: Форма обучения (словарь - `education_form`)
                        properties:
                          id:
                            type: string
                            description: ID формы обучения
                          value:
                            type: string
                            description: Форма обучения
                      year:
                        type: string
                        description: Год окончания (в формате `YYYY`)
                      average_degree:
                        type: object
                        description: Средний балл кандидата (словарь - `education_average_degree`)
                        properties:
                          id:
                            type: string
                            description: ID среднего балла
                          value:
                            type: string
                            description: Значение среднего балла
                attestation:
                  type: array
                  description: Массив тестов и экзаменов кандидата
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                        description: Название теста (экзамена)
                      organization:
                        type: string
                        description: 'Организация, проводившая тест (экзамен)'
                      result:
                        type: string
                        description: Резлуьтат теста (экзамена)
                      year:
                        type: string
                        description: Год прохождения теста (экзамена)
                additional:
                  type: array
                  description: Курсы повышения квалификации
                  items:
[...]
