openapi: 3.1.0
info:
  title: Potok API
  version: v3
  description: |-
    # Общая информация
    API Potok позволяет клиентам получать информацию путем отправки запроса на сервера Potok
    * Все методы API Potok  работают по протоколу HTTPS;
    * Даты форматируются в соответствии с [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601): `YYYY-MM-DDThh:mm:ss.mmm±hh:mm`.
    * Все вызовы содержат: `Content-Type: application/json`*

    *-если для запроса не указано иное

    В случае отсутствия заполненных данных в Potok по какому-либо параметру, возвращаемому в ответе, параметр может быть исключен из структуры ответа или иметь значение `null`.

    ## Ограничение количества запросов
    В Potok имеются ограничения на количество запросов в определенный промежуток времени. 

    При превышении указанного количества запросов будет возвращаться ошибка `429` - превышено допустимое количество запросов в секунду.
    |Время (в секундах)|Ограничение (кол-во запросов)|
    |:--:|:---:|
    |10|100|

    ## Коды ошибок
    Основные ошибки возникающие при работе с API Potok указаны в таблице ниже.

    В случае неполадок и сбоев, возможны ответы с кодом `500` или другими `5XX`.

    При каждой ошибке, помимо кода ответа, в теле ответа может быть выдана дополнительная информация, позволяющая разработчику понять причину соответствующего ответа.
    | Код ошибки | Описание|
    |:-------:|:------------:|
    |400| Ошибка параметров запроса
    |401 | Отказ в доступе. Неверная авторизация или аутентификация|
    |402| Подписка компании просрочена|
    |404| Сервер не может найти запрашиваемый объект
    |422 | Ошибки при заполнении полей: не заполнено поле, неверный формат и ошибки валидации|
    |429| Превышено допустимое количество запросов в секунду

    ## Генерация токена
    Для получения доступа к системе нужно сгенерировать токен. Сделать это можно в настройках компании в разделе **Генерация токенов** (доступ к разделу согласно настроенной ролевой модели). 

    Для создания токена нужно указать его название и нажать кнопку **Создать токен**. Новый токен появится в списке действующих токенов. Удалить токен можно с помощью иконки с корзиной рядом с ним.

    В случае ошибки аутентификации появится ошибка `401`
  summary: test
  contact:
    name: Daniel
servers:
  - url: 'https://app.potok.io/api/v3'
    description: Potok.io
paths:
  /jobs.json:
    get:
      summary: Получение списка вакансий
      tags:
        - вакансии
      operationId: get-api-v3-jobs.json
      description: |-
        Получение списка вакансий компании. Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.
        Сортировка вакансий в ответе по дате создания по убыванию.
      parameters:
        - schema:
            type: string
            example: active
            enum:
              - all
              - active
            default: active
          in: query
          name: by_scope
          description: '`all` (чтобы получить все вакансии) или `active` (чтобы получить активные вакансии). Значение по умолчанию `active`'
          allowEmptyValue: true
        - schema:
            type: number
            example: 1
            default: 1
          in: query
          name: page
          description: Номер страницы списка вакансий (начиная с 1)
          allowEmptyValue: true
        - schema:
            type: number
            maxLength: 3
            maximum: 100
            minimum: 1
            example: 50
            default: 50
          in: query
          name: per_page
          description: Количество элементов на странице (по умолчанию 50)
          allowEmptyValue: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: string
                        company_department:
                          archived: false
                          id: 52
                          name: IT Department
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: '1599'
                        code_enable: false
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - умелый
                        city: '1'
                        published: true
                        publish_location: string
                        applicants_count:
                          all: 4
                          active: 2
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2022-08-22T08:50:21.638+03:00'
                        stages:
                          - id: 1432
                            name: Проверка СБ
                            serial: 456
                            active_applicants: 1
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 148846
                          name: Иван Иванов Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://avatarka.zdes/ava.jpg'
                          phones:
                            - '87771110000'
                        job_bindings:
                          - id: 8899
                            type: 'JobBinding::Career'
                            url: 'https://ivanov@mysupersite.com/open/jobs/223234'
                            info:
                              name: Повар
                              description: string
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 412412
                          name: Иванов Иван Иванович
                          email: ivanov@ivan.tut
                          avatar: 'https://avatarka.zdes/ava.jpg'
                          phones:
                            - '18888324'
                        jobs_users:
                          - id: 1231
                            job_id: 4322
                            role:
                              id: 13
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 14
                              name: Alabai
                              email: bumaga@tochka.cot
                              avatar: 'https://avatarka.zdes/ava.jpg'
                              phones:
                                - '123123124'
                        first_opened_at: '2020-07-17T10:38:55.900+03:00'
                        archived: true
                        demand: 5
                        state_id: opened
                        closed_at: string
                        closure_date: '2021-09-30T00:00:00.000+03:00'
                        private: true
                        direction_code: point
                        job_type: point
                        staffing_item_full_ext_id: position_12423
                        staffing_item_parent_full_ext_id: department_33448
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
                required:
                  - data
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        source_job_id: 469885
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
          headers: {}
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
    post:
      summary: Создание вакансии
      tags:
        - вакансии
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                description: ''
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 0
                        name: string
                        description: string
                        company_department: {}
                        schedule_type: string
                        salary_from: 0
                        salary_to: 0
                        code: string
                        code_enable: true
                        experience_type: string
                        employment_type: string
                        currency_type: string
                        key_skills:
                          - string
                        city: string
                        published: true
                        publish_location: {}
                        applicants_count:
                          all: 0
                          active: 0
                        created_at: string
                        updated_at: string
                        stages:
                          - id: 0
                            name: string
                            serial: 0
                            active_applicants: 0
                            declined_applicants: 0
                        author:
                          id: 0
                          name: string
                          avatar: string
                        job_bindings:
                          - {}
                        executive_recruiter:
                          id: 0
                          name: string
                          avatar: string
                        jobs_users:
                          - id: 0
                            job_id: 0
                            role:
                              id: 0
                              company_id: 0
                              name: string
                              role_type: string
                            user:
                              id: 0
                              name: string
                              email: string
                              avatar: string
                        first_opened_at: string
                        archived: true
                        demand: 0
                        state_id: string
                        closed_at: string
                        closure_date: string
                        private: true
                        direction_code: string
                        job_type: string
                        staffing_item_full_ext_id: string
                        staffing_item_parent_full_ext_id: string
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        source_job_id: 469885
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
        '400':
          $ref: '#/components/responses/400'
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '422':
          $ref: '#/components/responses/422'
      operationId: post-api-v3-jobs.json
      description: |-
        Создание новой вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может принимать другой набор полей или иметь отличные от описанного валидации.
        Метод возвращает данные созданной вакансии: статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии.
      requestBody:
        content:
          application/json:
            schema:
              description: ''
              type: object
              x-examples:
                example-1:
                  name: string
                  description: string
                  city: 0
                  salary_from: 0
                  salary_to: 0
                  employment_type: string
                  experience_type: string
                  schedule_type: string
                  currency_type: string
                  code: 0
                  form: {}
                  key_skills:
                    - string
                  job_type: string
                  is_draft: true
                  company_department_id: 0
              properties:
                name:
                  type: string
                  description: Название вакансии
                description:
                  type: string
                  description: Описание вакансии
                city:
                  type: number
                  description: |
                    ID Города вакансии (словарь `cities`)
                salary_from:
                  type: number
                  description: Ожидаемая ЗП от
                salary_to:
                  type: number
                  description: Ожидаемая ЗП до
                employment_type:
                  type: string
                  description: ID Занятости (словарь - `employment_type`)
                experience_type:
                  type: string
                  description: ID Опыта работы (словарь - `experience_type`)
                schedule_type:
                  type: string
                  description: ID Графика работы (словарь - `schedule_type`)
                currency_type:
                  type: string
                  description: ID Валюты (словарь - `currency_type`)
                key_skills:
                  description: Ключевые навыков
                  type: array
                  items:
                    type: string
                job_type:
                  type: string
                  description: |-
                    Воронка подбора вакансии (в компании могут быть добавлены дополнительные воронки)

                    `point` - точечный подбор
                is_draft:
                  type: boolean
                  description: |-
                    Признак черновика вакансии

                    `true` - черновик вакансии

                    `false` - вакансия не является черновиком
                company_department_id:
                  type: number
                  description: 'ID Отдела. Может быть получен из `GET /api/v2/company_departments.json`, механизм аутентификации аналогичен'
                demand:
                  type: number
                  description: Количество вакантных мест
                private:
                  description: |-
                    Признак конфиденциальности вакансии

                    `true` - конфиденциальная вакансия

                    `false` - неконфиденциальная вакансия
                  type: boolean
                closure_date:
                  type: string
                  description: 'Ожидаемая дата закрытия, `YYYY-MM-DD`'
                additional_info:
                  type: string
                  description: Комментарий к вакансии
              required:
                - name
            examples:
              Пример запроса:
                value:
                  name: Начальник технического отдела
                  description: Вакансия для тех. отдела ООО Аврора
                  city: 1
                  salary_from: 100000
                  salary_to: 200000
                  employment_type: full
                  experience_type: noExperience
                  schedule_type: fullDay
                  currency_type: RUR
                  key_skills:
                    - стрессоустойчивость
                  job_type: point
                  is_draft: false
                  company_department_id: 0
                  demand: 1
                  private: false
                  closure_date: '2023-07-17'
                  additional_info: закрыть как можно скорее
        description: ''
      x-internal: false
    parameters: []
  '/jobs/{id}.json':
    get:
      summary: Получение вакансии по ID
      tags:
        - вакансии
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    data:
                      - id: 0
                        name: string
                        description: string
                        company_department: {}
                        schedule_type: string
                        salary_from: 0
                        salary_to: 0
                        code: string
                        code_enable: true
                        experience_type: string
                        employment_type: string
                        currency_type: string
                        key_skills:
                          - string
                        city: string
                        published: true
                        publish_location: {}
                        applicants_count:
                          all: 0
                          active: 0
                        created_at: string
                        updated_at: string
                        stages:
                          - id: 0
                            name: string
                            serial: 0
                            active_applicants: 0
                            declined_applicants: 0
                        author:
                          id: 0
                          name: string
                          avatar: string
                        job_bindings:
                          - {}
                        executive_recruiter:
                          id: 0
                          name: string
                          avatar: string
                        jobs_users:
                          - id: 0
                            job_id: 0
                            role:
                              id: 0
                              company_id: 0
                              name: string
                              role_type: string
                            user:
                              id: 0
                              name: string
                              email: string
                              avatar: string
                        first_opened_at: string
                        archived: true
                        demand: 0
                        state_id: string
                        closed_at: string
                        closure_date: string
                        private: true
                        direction_code: string
                        job_type: string
                        staffing_item_full_ext_id: string
                        staffing_item_parent_full_ext_id: string
                properties:
                  data:
                    $ref: '#/components/schemas/Job'
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 1911
                        name: Начальник технического отдела
                        description: |-
                          <div>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                          <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                          </div>
                        schedule_type: fullDay
                        salary_from: 10000
                        salary_to: 20000
                        code: 12
                        code_enable: true
                        experience_type: noExperience
                        employment_type: full
                        currency_type: RUR
                        key_skills:
                          - стрессоустойчивый
                        city: '1'
                        created_at: '2020-07-17T10:38:55.904+03:00'
                        updated_at: '2021-07-17T10:38:55.904+03:00'
                        first_opened_at: '2020-07-17T10:38:55.904+03:00'
                        archived: false
                        demand: 1
                        closed_at: '2021-07-17T10:38:55.904+03:00'
                        closure_date: '2022-07-17T10:38:55.904+03:00'
                        private: false
                        direction_code: '1357'
                        source_job_id: 469885
                        job_type: point
                        staffing_item_full_ext_id: position_1234
                        staffing_item_parent_full_ext_id: department_4321
                        priority: highest
                        state_id: opened
                        company_department:
                          archived: false
                          id: 3121
                          name: IT Department
                        published: true
                        publish_location: 'https://career.potok.io/open/jobs/1911'
                        applicants_count:
                          all: 3
                          active: 2
                        stages:
                          - id: 1918
                            name: Проверка СБ
                            serial: 789
                            active_applicants: 2
                            declined_applicants: 1
                            stage_type: security
                        author:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        job_bindings:
                          - id: 657
                            type: 'JobBinding::Career'
                            url: 'https://career.potok.io/open/jobs/1911'
                            info:
                              name: Начальник технического отдела
                              description: |-
                                <div>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Требования:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Обязанности:</p>
                                <p style="white-space:pre-wrap;line-height:1;margin:6px 0;">Условия работы:</p>
                                </div>
                              schedule_type: fullDay
                        executive_recruiter:
                          id: 11
                          name: Иванов Иван Иванович
                          email: ivan@ivanov.com
                          avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                          phones:
                            - '79996543221'
                        jobs_users:
                          - id: 1234
                            job_id: 1911
                            role:
                              id: 4321
                              company_id: 99
                              name: Суперадмин
                              role_type: superadmin
                              billing: true
                            user:
                              id: 11
                              name: Иванов Иван Иванович
                              email: ivan@ivanov.com
                              avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                              phones:
                                - '79996543221'
          headers: {}
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
      operationId: get-jobs-id-.json
      description: |-
        Получение данных вакансии по ее ID. Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.

        Если вакансия с указанным ID не найдена, Potok возвращает код 200 с телом `null`.
      parameters: []
    parameters:
      - schema:
          type: number
          example: 16564
        name: id
        in: path
        required: true
        description: ID Вакансии
  '/applicants/{applicant_id}/resumes.json':
    parameters:
      - schema:
          type: string
          example: '12345'
        name: applicant_id
        in: path
        required: true
        description: ID кандидата
    post:
      summary: Добавление резюме с параметрами
      tags:
        - резюме
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  '':
                    $ref: '#/components/schemas/resume_response'
              examples:
                Пример ответа:
                  value:
                    '':
                      id: 1
                      cv_original: null
                      cv_html: null
                      cv_params:
                        salary:
                          amount: '90000'
                          currency: RUR
                        title: желаемая должность
                        education:
                          level:
                            id: master
                            name: Магистр
                            parent: Высшее
                          primary:
                            - name: учебное заведение
                              organization: факультет
                              result: специализация
                              course:
                                id: graduate
                                value: Выпускник/выпускница
                              form:
                                id: full_time
                                value: Очная
                              year: '2020'
                              average_degree:
                                id: 4+
                                value: 'От 4 до 4,49'
                          attestation:
                            - name: название теста
                              organization: Проводившая организация
                              result: Специализация
                              year: Год сдачи
                          additional:
                            - name: название курса
                              year: год
                              organization: Организация
                              result: Результат
                        skills: дополнительная информация
                        about_me: обо мне
                        travel_time:
                          id: less_than_hour
                          name: Не более часа
                        relocation:
                          area:
                            - id: '1'
                              name: Москва
                          type:
                            id: no_relocation
                            name: не готов к переезду
                        business_trip_readiness:
                          id: ready
                          name: готов к командировкам
                        ext_id: '12314'
                        ext_applicant_id: '14124'
                        ext_source: headhunter
                        specialization:
                          - id: '1.420'
                            name: Администратор баз данных
                        employment:
                          - id: full
                            name: Полная занятость
                        schedule:
                          - id: fullDay
                            name: Полный день
                        experience:
                          - start: '2020-06-25'
                            end: '2020-06-25'
                            now: false
                            company: организация
                            area:
                              id: '1'
                              name: Москва
                            company_url: 'https://yandex.ru/maps'
                            position: должность в опыте работы
                            description: описание опыта работы
                        awards:
                          - date: '1961-04-12'
                            name: Лётчик-космонавт СССР
                            organization: СССР
                            description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                        projects:
                          - start: '2020-06-25'
                            end: '2020-06-28'
                            name: название проекта
                            description: описание проекта
                        skill_set:
                          - Git
                          - SQL
                          - 1С программирование
                          - Деловая коммуникация
                        certificate:
                          - title: сертификат
                            url: ссылка
                            company: Организация
                            achieved_at: '2020-06-28'
                        recommendation:
                          - name: имя рекомендации
                            contact: Контакт
                            position: Должность
                            organization: Организация
                        languages:
                          - id: eng
                            name: Английский
                            level:
                              id: a1
                              name: A1 — Начальный
                        citizenship:
                          - id: '113'
                            name: Россия
                        work_ticket:
                          - id: '40'
                            name: Казахстан
        '400':
          description: Ошибка параметров запроса
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
      operationId: post-applicants-applicant_id-resumes.json
      description: Добавление резюме в карточку кандидата по конкретным параметрам
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cv_params_request'
            examples:
              Пример запроса:
                value:
                  cv_params:
                    title: желаемая должность
                    salary:
                      amount: '90000'
                      currency: RUR
                    specialization:
                      - id: '1.420'
                        name: Администратор баз данных
                    schedule:
                      - id: fullDay
                        name: Полный день
                    employment:
                      - id: full
                        name: Полная занятость
                    experience:
                      - start: '2020-06-25'
                        end: '2020-06-25'
                        now: false
                        company: организация
                        area:
                          id: '1'
                          name: Москва
                        company_url: 'https://yandex.ru/maps'
                        position: должность в опыте работы
                        description: описание опыта работы
                    awards:
                      - date: '1961-04-12'
                        name: Лётчик-космонавт СССР
                        organization: СССР
                        description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                    projects:
                      - start: '2020-06-25'
                        end: '2020-06-28'
                        name: название проекта
                        description: описание проекта
                    skill_set:
                      - Git
                      - SQL
                      - 1С программирование
                      - Деловая коммуникация
                    education:
                      level:
                        id: master
                        name: Магистр
                        parent: Высшее
                      primary:
                        - name: учебное заведение
                          organization: факультет
                          result: специализация
                          course:
                            id: graduate
                            value: Выпускник/выпускница
                          form:
                            id: full_time
                            value: Очная
                          year: '2020'
                          average_degree:
                            id: 4+
                            value: 'От 4 до 4,49'
                      attestation:
                        - name: название теста
                          organization: Проводившая организация
                          result: Специализация
                          year: Год сдачи
                      additional:
                        - name: название курса
                          year: год
                          organization: Организация
                          result: Результат
                    certificate:
                      - title: сертификат
                        url: ссылка
                        company: Организация
                        achieved_at: '2020-06-28'
                    about_me: обо мне
                    skills: доп информация
                    recommendation:
                      - name: имя рекомендации
                        contact: Контакт
                        position: Должность
                        organization: Организация
                    languages:
                      - id: eng
                        name: Английский
                        level:
                          id: a1
                          name: A1 — Начальный
                    travel_time:
                      id: less_than_hour
                      name: Не более часа
                    citizenship:
                      - id: '113'
                        name: Россия
                    work_ticket:
                      - id: '40'
                        name: Казахстан
                    relocation:
                      area:
                        - id: '1'
                          name: Москва
                      type:
                        id: no_relocation
                        name: не готов к переезду
                    business_trip_readiness:
                      id: ready
                      name: готов к командировкам
        description: ''
      parameters: []
  '/applicants/{applicant_id}/resume_file.json':
    parameters:
      - schema:
          type: string
          example: '12345'
        name: applicant_id
        in: path
        required: true
        description: ID кандидата
    post:
      summary: Добавление файла резюме
      tags:
        - резюме
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    '':
                      $ref: '#/components/schemas/resume_response'
              examples:
                Пример ответа:
                  value:
                    - id: 1
                      cv_original: 'https://app.potok.io/uploads/resume/cv_original/31622915/example.pdf'
                      cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/example.html'
                      cv_params:
                        salary: {}
                        title: null
                        education: {}
                        skills: null
                        about_me: null
                        travel_time: {}
                        relocation: {}
                        business_trip_readiness: {}
                        ext_id: ''
                        ext_applicant_id: null
                        ext_source: null
                        specialization: []
                        employment: []
                        schedule: []
                        experience: []
                        awards: []
                        projects: []
                        skill_set: []
                        certificate: []
                        recommendation: []
                        languages: []
                        citizenship: []
                        work_ticket: []
        '400':
          description: Ошибка параметров запроса
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '422':
          description: 'Ошибки при заполнении полей: не заполнено поле, неверный формат и прочие ошибки валидации на разных этапах с указанием полей, в которых произошла ошибка'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                      cv_original:
                        - 'Слишком большой файл. Максимальный размер — 10,0 МБ'
                properties:
                  errors:
                    type: object
                required:
                  - errors
              examples:
                Пример ответа:
                  value:
                    errors:
                      cv_original:
                        - 'Слишком большой файл. Максимальный размер — 10,0 МБ'
                Пример ответа 2:
                  value:
                    errors:
                      base:
                        - Формат файла не поддерживается
                      cv_original:
                        - 'имеет неразрешенное расширение png. Корректные расширения: doc, docx, pdf, rtf, html.'
                Пример ответа 3:
                  value:
                    errors:
                      base:
                        - Формат файла не поддерживается
                Пример ответа 4:
                  value:
                    errors:
                      base:
                        - прервана попытка загрузить зараженный файл
      operationId: post-applicants-applicant_id-resume_file.json
      description: |-
        Добавление файла резюме в карточку кандидата. Метод возвращает массив всех резюме кандидата


        Допустимые расширения файлов - doc, docx, pdf, rtf, html. Размер файла резюме должен быть меньше 10 Мбайт.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                cv_original:
                  type: string
                  format: binary
                  description: Ссылка на файл резюме
              required:
                - cv_original
            examples: {}
  /applicants.json:
    post:
      summary: Создание кандидата (отклика)
      tags:
        - кандидаты
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant_response'
              examples:
                Пример ответа:
                  value:
                    id: 12345
                    first_name: Иван
                    last_name: Иванов
                    middle_name: Иванович
                    name: Иванов Иван Иванович
                    address: Москва
                    email: example@email.ru
                    title: Строитель
                    salary: 10000
                    source_type: sourced
                    source_url: 'https://icanchoose.ru'
                    born: '2000-01-01'
                    skype: ivan_skype
                    phones:
                      - '79997776655'
                    accounts:
                      - url: 'https://www.t.me/account'
                        icon_id: telegram
                    tags:
                      - id: 43536
                        name: тег
                        taggings_count: 1
                    created_at: '2020-07-06T16:04:26.387+03:00'
                    updated_at: '2020-07-06T16:04:26.982+03:00'
                    another_emails:
                      - ttt@mail.ru
                    schedule:
                      - id: fullDay
                        name: Полный день
                    gender: male
                    city:
                      id: '1'
                      text: Москва
                      name: Москва
                      country_name: Россия
                      subdivision_name: Москва
                    states:
                      - state_id: not_depersonalized
                        updated_at: '2020-07-06T16:04:26.387+03:00'
                        workflow_name: personal_data_depersonalization
                        workflow_id: 3050
                        init_by:
                          id: 1234
                          class: class
                        additional_info:
                          - {}
                    avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                    resumes:
                      - id: 1
                        cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
                        cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
                        cv_params:
                          salary:
                            amount: '90000'
                            currency: RUR
                          title: желаемая должность
                          education:
                            level:
                              id: master
                              name: Магистр
                              parent: Высшее
                            primary:
                              - name: учебное заведение
                                organization: факультет
                                result: специализация
                                course:
                                  id: graduate
                                  value: Выпускник/выпускница
                                form:
                                  id: full_time
                                  value: Очная
                                year: '2020'
                                average_degree:
                                  id: 4+
                                  value: 'От 4 до 4,49'
                            attestation:
                              - name: название теста
                                organization: Проводившая организация
                                result: Специализация
                                year: Год сдачи
                            additional:
                              - name: название курса
                                year: год
                                organization: Организация
                                result: Результат
                          skills: дополнительная информация
                          about_me: обо мне
                          travel_time:
                            id: less_than_hour
                            name: Не более часа
                          relocation:
                            area:
                              - id: '1'
                                name: Москва
                            type:
                              id: no_relocation
                              name: не готов к переезду
                          business_trip_readiness:
                            id: ready
                            name: готов к командировкам
                          ext_id: '123124'
                          ext_applicant_id: '123456'
                          ext_source: headhunter
                          specialization:
                            - id: '1.420'
                              name: Администратор баз данных
                          employment:
                            - id: full
                              name: Полная занятость
                          schedule:
                            - id: fullDay
                              name: Полный день
                          experience:
                            - start: '2020-06-25'
                              end: '2020-06-25'
                              now: false
                              company: организация
                              area:
                                id: '1'
                                name: Москва
                              company_url: 'https://yandex.ru/maps'
                              position: должность в опыте работы
                              description: описание опыта работы
                          awards:
                            - date: '1961-04-12'
                              name: Лётчик-космонавт СССР
                              organization: СССР
                              description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                          projects:
                            - start: '2020-06-25'
                              end: '2020-06-28'
                              name: название проекта
                              description: описание проекта
                          skill_set:
                            - Git
                            - SQL
                            - 1С программирование
                            - Деловая коммуникация
                          certificate:
                            - title: сертификат
                              url: ссылка
                              company: Организация
                              achieved_at: '2020-06-28'
                          recommendation:
                            - name: имя рекомендации
                              contact: Контакт
                              position: Должность
                              organization: Организация
                          languages:
                            - id: eng
                              name: Английский
                              level:
                                id: a1
                                name: A1 — Начальный
                          citizenship:
                            - id: '113'
                              name: Россия
                          work_ticket:
                            - id: '40'
                              name: Казахстан
                    source_name: icanchoose
                    extra_events_present: false
                    events:
                      - id: 1
                        subject: Тема письма
                        body: комментарий
                        applicant:
                          id: 1
                          first_name: Иван
                          last_name: Иванов
                          middle_name: Иванович
                        job:
                          id: 1234
                          name: Название вакансии
                        from: '2020-07-06T16:04:26.387+03:00'
                        to: '2020-07-06T16:04:26.387+03:00'
                        type: 'Event::Comment'
                    ajs_joins:
                      - id: 123
                        job:
                          id: 219134
                          name: Директор
                          job_type: '1723'
                          stage_name: Добавлен
                          active: true
                        employee_ext_id: 1234
                        stage:
                          id: 4314
                          name: Добавлен
                          serial: 2
                          active_applicants: 10
                          declined_applicants: 2
                          stage_type: sourced
                        responsible_user_id: 51293
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '402':
          description: Подписка компании просрочена
        '422':
          description: 'Ошибки при заполнении полей: не заполнено поле, неверный формат и прочие ошибки валидации на разных этапах с указанием полей, в которых произошла ошибка'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                      emails:
                        - имеет неверное значение
                properties:
                  errors:
                    type: object
              examples:
                Пример ответа:
                  value:
                    errors:
                      emails:
                        - имеет неверное значение
      operationId: post-api-v3-applicants.json
      description: 'Создание кандидата по заданным параметрам. Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Applicant_request'
            examples:
              Пример запроса:
                value:
                  applicant:
                    first_name: Иван
                    last_name: Иванов
                    middle_name: Иванович
                    emails:
                      - example@email.ru
                    phones:
                      - '79997776655'
                    born: '2000-01-01'
                    source_type: sourced
                    source_url: 'https://icanchoose.ru'
                    salary: 100000
                    salary_currency: RUR
                    skype: ivan_skype
                    gender: male
                    city: '1'
                    avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                    accounts:
                      - url: 'https://www.t.me/account'
                        icon_id: telegram
                    resumes:
                      - cv_params:
                          title: желаемая должность
                          salary:
                            amount: '90000'
                            currency: RUR
                          specialization:
                            - id: '1.420'
                              name: Администратор баз данных
                          schedule:
                            - id: fullDay
                              name: Полный день
                          employment:
                            - id: full
                              name: Полная занятость
                          experience:
                            - start: '2020-06-25'
                              end: '2020-06-25'
                              now: false
                              company: организация
                              area:
                                id: '1'
                                name: Москва
                              company_url: 'https://yandex.ru/maps'
                              position: должность в опыте работы
                              description: описание опыта работы
                          awards:
                            - date: '1961-04-12'
                              name: Лётчик-космонавт СССР
                              organization: СССР
                              description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                          projects:
                            - start: '2020-06-25'
                              end: '2020-06-28'
                              name: название проекта
                              description: описание проекта
                          skill_set:
                            - Git
                            - SQL
                            - 1С программирование
                            - Деловая коммуникация
                          education:
                            level:
                              id: master
                              name: Магистр
                              parent: Высшее
                            primary:
                              - name: учебное заведение
                                organization: факультет
                                result: специализация
                                course:
                                  id: graduate
                                  value: Выпускник/выпускница
                                form:
                                  id: full_time
                                  value: Очная
                                year: '2020'
                                average_degree:
                                  id: 4+
                                  value: 'От 4 до 4,49'
                            attestation:
                              - name: название теста
                                organization: Проводившая организация
                                result: Специализация
                                year: Год сдачи
                            additional:
                              - name: название курса
                                year: год
                                organization: Организация
                                result: Результат
                          certificate:
                            - title: сертификат
                              url: ссылка
                              company: Организация
                              achieved_at: '2020-06-28'
                          about_me: обо мне
                          skills: доп информация
                          recommendation:
                            - name: имя рекомендации
                              contact: Контакт
                              position: Должность
                              organization: Организация
                          languages:
                            - id: eng
                              name: Английский
                              level:
                                id: a1
                                name: A1 — Начальный
                          travel_time:
                            id: less_than_hour
                            name: Не более часа
                          citizenship:
                            - id: '113'
                              name: Россия
                          work_ticket:
                            - id: '40'
                              name: Казахстан
                          relocation:
                            area:
                              - id: '1'
                                name: Москва
                            type:
                              id: no_relocation
                              name: не готов к переезду
                          business_trip_readiness:
                            id: ready
                            name: готов к командировкам
                    workflows:
                      personal_data_agreement: personal_data_depersonalization
                    events:
                      body: комментарий
                      type: 'Event::Comment'
                    ajs_joins:
                      - job_id: 220694
                        employee_ext_id: 12345
                        responsible_user_id: 54321
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Ссылка на аватар кандидата
    get:
      summary: Просмотр кандидатов (откликов)
      tags:
        - кандидаты
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Applicant_response'
                  per_page:
                    type: integer
                    description: Количество элементов на странице
                  pages:
                    type: integer
                    description: Количество страниц
                  page:
                    type: integer
                    description: Номер страницы списка вакансий
                required:
                  - per_page
                  - pages
                  - page
              examples:
                Пример ответа:
                  value:
                    data:
                      - id: 12345
                        first_name: Иван
                        last_name: Иванов
                        middle_name: Иванович
                        name: Иванов Иван Иванович
                        address: Москва
                        email: example@email.ru
                        title: Строитель
                        salary: 10000
                        source_type: sourced
                        source_url: 'https://icanchoose.ru'
                        born: '2000-01-01'
                        skype: ivan_skype
                        phones:
                          - '79997776655'
                        accounts:
                          - url: 'https://www.t.me/account'
                            icon_id: telegram
                        tags:
                          - id: 43536
                            name: тег
                            taggings_count: 1
                        created_at: '2020-07-06T16:04:26.387+03:00'
                        updated_at: '2020-07-06T16:04:26.982+03:00'
                        another_emails:
                          - ttt@mail.ru
                        schedule:
                          - {}
                        gender: male
                        city:
                          id: '1'
                          text: Москва
                          name: Москва
                          country_name: Россия
                          subdivision_name: Москва
                        states:
                          - state_id: not_depersonalized
                            updated_at: '2020-07-06T16:04:26.387+03:00'
                            workflow_name: personal_data_depersonalization
                            workflow_id: 3050
                            init_by:
                              id: 1234
                              class: class
                            additional_info:
                              - {}
                        avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                        resumes:
                          - id: 1
                            cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
                            cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
                            cv_params:
                              salary:
                                amount: '90000'
                                currency: RUR
                              title: желаемая должность
                              education:
                                level:
                                  id: master
                                  name: Магистр
                                  parent: Высшее
                                primary:
                                  - name: учебное заведение
                                    organization: факультет
                                    result: специализация
                                    course:
                                      id: graduate
                                      value: Выпускник/выпускница
                                    form:
                                      id: full_time
                                      value: Очная
                                    year: '2020'
                                    average_degree:
                                      id: 4+
                                      value: 'От 4 до 4,49'
                                attestation:
                                  - name: название теста
                                    organization: Проводившая организация
                                    result: Специализация
                                    year: Год сдачи
                                additional:
                                  - name: название курса
                                    year: год
                                    organization: Организация
                                    result: Результат
                              skills: дополнительная информация
                              about_me: обо мне
                              travel_time:
                                id: less_than_hour
                                name: Не более часа
                              relocation:
                                area:
                                  - id: '1'
                                    name: Москва
                                type:
                                  id: no_relocation
                                  name: не готов к переезду
                              business_trip_readiness:
                                id: ready
                                name: готов к командировкам
                              ext_id: '123124'
                              ext_applicant_id: '123456'
                              ext_source: headhunter
                              specialization:
                                - id: '1.420'
                                  name: Администратор баз данных
                              employment:
                                - id: full
                                  name: Полная занятость
                              schedule:
                                - id: fullDay
                                  name: Полный день
                              experience:
                                - start: '2020-06-25'
                                  end: '2020-06-25'
                                  now: false
                                  company: организация
                                  area:
                                    id: '1'
                                    name: Москва
                                  company_url: 'https://yandex.ru/maps'
                                  position: должность в опыте работы
                                  description: описание опыта работы
                              awards:
                                - date: '1961-04-12'
                                  name: Лётчик-космонавт СССР
                                  organization: СССР
                                  description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                              projects:
                                - start: '2020-06-25'
                                  end: '2020-06-28'
                                  name: название проекта
                                  description: описание проекта
                              skill_set:
                                - Git
                                - SQL
                                - 1С программирование
                                - Деловая коммуникация
                              certificate:
                                - title: сертификат
                                  url: ссылка
                                  company: Организация
                                  achieved_at: '2020-06-28'
                              recommendation:
                                - name: имя рекомендации
                                  contact: Контакт
                                  position: Должность
                                  organization: Организация
                              languages:
                                - id: eng
                                  name: Английский
                                  level:
                                    id: a1
                                    name: A1 — Начальный
                              citizenship:
                                - id: '113'
                                  name: Россия
                              work_ticket:
                                - id: '40'
                                  name: Казахстан
                        source_name: icanchoose
                        extra_events_present: false
                        events:
                          - id: 1
                            subject: Тема письма
                            body: комментарий
                            applicant:
                              id: 1
                              first_name: Иван
                              last_name: Иванов
                              middle_name: Иванович
                            job:
                              id: 1234
                              name: Название вакансии
                            from: '2020-07-06T16:04:26.387+03:00'
                            to: '2020-07-06T16:04:26.387+03:00'
                            type: 'Event::Comment'
                        ajs_joins:
                          - id: 123
                            job:
                              id: 219134
                              name: Директор
                              job_type: '1723'
                              stage_name: Добавлен
                              active: true
                            employee_ext_id: 1234
                            stage:
                              id: 4314
                              name: Добавлен
                              serial: 2
                              active_applicants: 10
                              declined_applicants: 2
                              stage_type: sourced
                            responsible_user_id: 51293
                    per_page: 1
                    pages: 4
                    page: 1
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '402':
          description: Подписка компании просрочена
      operationId: get-api-v3-applicants.json
      description: 'Получение данных по кандидатам, с возможностью фильтрации выдачи'
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/per_page'
        - $ref: '#/components/parameters/f-jobs'
        - $ref: '#/components/parameters/f-stage_type_names'
        - $ref: '#/components/parameters/f-stage_types'
        - $ref: '#/components/parameters/f-job_types'
        - $ref: '#/components/parameters/f-created_at'
        - $ref: '#/components/parameters/f-source_type_codes'
        - $ref: '#/components/parameters/f-statuses'
        - $ref: '#/components/parameters/f-total_scores'
        - $ref: '#/components/parameters/f-added_at'
        - $ref: '#/components/parameters/f-declination_reasons'
        - $ref: '#/components/parameters/f-agreement'
        - $ref: '#/components/parameters/f-cities'
        - $ref: '#/components/parameters/f-company_departments'
        - $ref: '#/components/parameters/f-born-min'
        - $ref: '#/components/parameters/f-born-max'
        - $ref: '#/components/parameters/f-salary-min'
        - $ref: '#/components/parameters/f-salary-max'
        - $ref: '#/components/parameters/f-total_experience-min'
        - $ref: '#/components/parameters/f-total_experience-max'
        - $ref: '#/components/parameters/f-relocation_readiness'
        - $ref: '#/components/parameters/f-education_level'
        - $ref: '#/components/parameters/f-stage_statuses'
    parameters: []
  '/applicants​/{applicant_id}.json':
    parameters:
      - schema:
          type: integer
          example: 12345
        name: applicant_id
        in: path
        required: true
        description: ID кандидата
    put:
      summary: Обновление кандидата (отклика)
      tags:
        - кандидаты
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant_response'
              examples:
                Пример ответа:
                  value:
                    id: 12345
                    first_name: Иван
                    last_name: Иванов
                    middle_name: Иванович
                    name: Иванов Иван Иванович
                    address: Москва
                    email: example@email.ru
                    title: Строитель
                    salary: 10000
                    source_type: sourced
                    source_url: 'https://icanchoose.ru'
                    born: '2000-01-01'
                    skype: ivan_skype
                    phones:
                      - '79997776655'
                    accounts:
                      - url: 'https://www.t.me/account'
                        icon_id: telegram
                    tags:
                      - id: 43536
                        name: тег
                        taggings_count: 1
                    created_at: '2020-07-06T16:04:26.387+03:00'
                    updated_at: '2020-07-06T16:04:26.982+03:00'
                    another_emails:
                      - ttt@mail.ru
                    schedule:
                      - {}
                    gender: male
                    city:
                      id: '1'
                      text: Москва
                      name: Москва
                      country_name: Россия
                      subdivision_name: Москва
                    states:
                      - state_id: not_depersonalized
                        updated_at: '2020-07-06T16:04:26.387+03:00'
                        workflow_name: personal_data_depersonalization
                        workflow_id: 3050
                        init_by:
                          id: 1234
                          class: class
                        additional_info:
                          - {}
                    avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                    resumes:
                      - id: 1
                        cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
                        cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
                        cv_params:
                          salary:
                            amount: '90000'
                            currency: RUR
                          title: желаемая должность
                          education:
                            level:
                              id: master
                              name: Магистр
                              parent: Высшее
                            primary:
                              - name: учебное заведение
                                organization: факультет
                                result: специализация
                                course:
                                  id: graduate
                                  value: Выпускник/выпускница
                                form:
                                  id: full_time
                                  value: Очная
                                year: '2020'
                                average_degree:
                                  id: 4+
                                  value: 'От 4 до 4,49'
                            attestation:
                              - name: название теста
                                organization: Проводившая организация
                                result: Специализация
                                year: Год сдачи
                            additional:
                              - name: название курса
                                year: год
                                organization: Организация
                                result: Результат
                          skills: дополнительная информация
                          about_me: обо мне
                          travel_time:
                            id: less_than_hour
                            name: Не более часа
                          relocation:
                            area:
                              - id: '1'
                                name: Москва
                            type:
                              id: no_relocation
                              name: не готов к переезду
                          business_trip_readiness:
                            id: ready
                            name: готов к командировкам
                          ext_id: '123124'
                          ext_applicant_id: '123456'
                          ext_source: headhunter
                          specialization:
                            - id: '1.420'
                              name: Администратор баз данных
                          employment:
                            - id: full
                              name: Полная занятость
                          schedule:
                            - id: fullDay
                              name: Полный день
                          experience:
                            - start: '2020-06-25'
                              end: '2020-06-25'
                              now: false
                              company: организация
                              area:
                                id: '1'
                                name: Москва
                              company_url: 'https://yandex.ru/maps'
                              position: должность в опыте работы
                              description: описание опыта работы
                          awards:
                            - date: '1961-04-12'
                              name: Лётчик-космонавт СССР
                              organization: СССР
                              description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                          projects:
                            - start: '2020-06-25'
                              end: '2020-06-28'
                              name: название проекта
                              description: описание проекта
                          skill_set:
                            - Git
                            - SQL
                            - 1С программирование
                            - Деловая коммуникация
                          certificate:
                            - title: сертификат
                              url: ссылка
                              company: Организация
                              achieved_at: '2020-06-28'
                          recommendation:
                            - name: имя рекомендации
                              contact: Контакт
                              position: Должность
                              organization: Организация
                          languages:
                            - id: eng
                              name: Английский
                              level:
                                id: a1
                                name: A1 — Начальный
                          citizenship:
                            - id: '113'
                              name: Россия
                          work_ticket:
                            - id: '40'
                              name: Казахстан
                    source_name: icanchoose
                    extra_events_present: false
                    events:
                      - id: 1
                        subject: Тема письма
                        body: комментарий
                        applicant:
                          id: 1
                          first_name: Иван
                          last_name: Иванов
                          middle_name: Иванович
                        job:
                          id: 1234
                          name: Название вакансии
                        from: '2020-07-06T16:04:26.387+03:00'
                        to: '2020-07-06T16:04:26.387+03:00'
                        type: 'Event::Comment'
                    ajs_joins:
                      - id: 123
                        job:
                          id: 219134
                          name: Директор
                          job_type: '1723'
                          stage_name: Добавлен
                          active: true
                        employee_ext_id: 1234
                        stage:
                          id: 4314
                          name: Добавлен
                          serial: 2
                          active_applicants: 10
                          declined_applicants: 2
                          stage_type: sourced
                        responsible_user_id: 51293
        '401':
          description: Отказ в доступе. Неверная авторизация или аутентификация
        '402':
          description: Подписка компании просрочена
        '422':
          description: 'Ошибки при заполнении полей: не заполнено поле, неверный формат и прочие ошибки валидации на разных этапах с указанием полей, в которых произошла ошибка'
          content:
            application/json:
              schema:
                type: object
                x-examples:
                  example-1:
                    errors:
                      emails:
                        - имеет неверное значение
                properties:
                  errors:
                    type: object
              examples:
                Пример ответа:
                  value:
                    errors:
                      emails:
                        - имеет неверное значение
      operationId: put-api-v3-applicants-applicant_id-.json
      description: 'Обновление данных кандидата по его ID . Метод возвращает статические поля, а также все динамические поля, набор которых зависит от настроек формы вакансии. Описание приведено для стандартной формы, в случае ее изменения метод может возвращать другой набор параметров.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Applicant_request'
            examples:
              Пример запроса:
                value:
                  applicant:
                    first_name: Иван
                    last_name: Иванов
                    middle_name: Иванович
                    emails:
                      - example@email.ru
                    phones:
                      - '79997776655'
                    born: '2000-01-01'
                    source_type: sourced
                    source_url: 'https://icanchoose.ru'
                    salary: 100000
                    salary_currency: RUR
                    skype: ivan_skype
                    gender: male
                    city: '1'
                    accounts:
                      - url: 'https://www.t.me/account'
                        icon_id: telegram
                    resumes:
                      - cv_params:
                          title: желаемая должность
                          salary:
                            amount: '90000'
                            currency: RUR
                          specialization:
                            - id: '1.420'
                              name: Администратор баз данных
                          schedule:
                            - id: fullDay
                              name: Полный день
                          employment:
                            - id: full
                              name: Полная занятость
                          experience:
                            - start: '2020-06-25'
                              end: '2020-06-25'
                              now: false
                              company: организация
                              area:
                                id: '1'
                                name: Москва
                              company_url: 'https://yandex.ru/maps'
                              position: должность в опыте работы
                              description: описание опыта работы
                          awards:
                            - date: '1961-04-12'
                              name: Лётчик-космонавт СССР
                              organization: СССР
                              description: 'Первый человек в мировой истории, совершивший полёт в космическое пространство'
                          projects:
                            - start: '2020-06-25'
                              end: '2020-06-28'
                              name: название проекта
                              description: описание проекта
                          skill_set:
                            - Git
                            - SQL
                            - 1С программирование
                            - Деловая коммуникация
                          education:
                            level:
                              id: master
                              name: Магистр
                              parent: Высшее
                            primary:
                              - name: учебное заведение
                                organization: факультет
                                result: специализация
                                course:
                                  id: graduate
                                  value: Выпускник/выпускница
                                form:
                                  id: full_time
                                  value: Очная
                                year: '2020'
                                average_degree:
                                  id: 4+
                                  value: 'От 4 до 4,49'
                            attestation:
                              - name: название теста
                                organization: Проводившая организация
                                result: Специализация
                                year: Год сдачи
                            additional:
                              - name: название курса
                                year: год
                                organization: Организация
                                result: Результат
                          certificate:
                            - title: сертификат
                              url: ссылка
                              company: Организация
                              achieved_at: '2020-06-28'
                          about_me: обо мне
                          skills: доп информация
                          recommendation:
                            - name: имя рекомендации
                              contact: Контакт
                              position: Должность
                              organization: Организация
                          languages:
                            - id: eng
                              name: Английский
                              level:
                                id: a1
                                name: A1 — Начальный
                          travel_time:
                            id: less_than_hour
                            name: Не более часа
                          citizenship:
                            - id: '113'
                              name: Россия
                          work_ticket:
                            - id: '40'
                              name: Казахстан
                          relocation:
                            area:
                              - id: '1'
                                name: Москва
                            type:
                              id: no_relocation
                              name: не готов к переезду
                          business_trip_readiness:
                            id: ready
                            name: готов к командировкам
                    workflows:
                      personal_data_agreement: personal_data_depersonalization
                    events:
                      body: комментарий
                      type: 'Event::Comment'
                    ajs_joins:
                      - job_id: 220694
                        employee_ext_id: 12345
                        responsible_user_id: 54321
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  description: Ссылка на аватар кандидата
                  format: binary
        description: ''
    get:
      summary: Просмотр кандидата (отклика)
      tags:
        - кандидаты
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Applicant_response'
              examples:
                Пример ответа:
                  value:
                    id: 12345
                    first_name: Иван
                    last_name: Иванов
                    middle_name: Иванович
                    name: Иванов Иван Иванович
                    address: Москва
                    email: example@email.ru
                    title: Строитель
                    salary: 10000
                    source_type: sourced
                    source_url: 'https://icanchoose.ru'
                    born: '2000-01-01'
                    skype: ivan_skype
                    phones:
                      - '79997776655'
                    accounts:
                      - url: 'https://www.t.me/account'
                        icon_id: telegram
                    tags:
                      - id: 43536
                        name: тег
                        taggings_count: 1
                    created_at: '2020-07-06T16:04:26.387+03:00'
                    updated_at: '2020-07-06T16:04:26.982+03:00'
                    another_emails:
                      - ttt@mail.ru
                    schedule:
                      - {}
                    gender: male
                    city:
                      id: '1'
                      text: Москва
                      name: Москва
                      country_name: Россия
                      subdivision_name: Москва
                    states:
                      - state_id: not_depersonalized
                        updated_at: '2020-07-06T16:04:26.387+03:00'
                        workflow_name: personal_data_depersonalization
                        workflow_id: 3050
                        init_by:
                          id: 1234
                          class: class
                        additional_info:
                          - {}
                    avatar: 'https://app.potok.io/uploads/user/avatar/1/photo.png'
                    resumes:
                      - id: 1
                        cv_original: 'https://app.potok.io/uploads/resume/cv_original/example.pdf'
                        cv_html: 'https://app.potok.io/uploads/resume/cv_html/1/exapmle.html'
                        cv_params:
                          salary:
                            amount: '90000'
                            currency: RUR
                          title: желаемая должность
                          education:
                            level:
                              id: master
                              name: Магистр
                              parent: Высшее
                            primary:
                              - name: учебное заведение
                                organization: факультет
                                result: специализация
                                course:
                                  id: graduate
                                  value: Выпускник/выпускница
                                form:
                                  id: full_time
                                  value: Очная
                                year: '2020'
                                average_degree:
                                  id: 4+
                                  value: 'От 4 до 4,49'
                            attestation:
                              - name: название теста
                                organization: Проводившая организация
                                result: Специализация
                                year: Год сдачи
                            additional:
                              - name: название курса
                                year: год
                                organization: Организация
                                result: Результат
                          skills: дополнительная информация
                          about_me: обо мне
                          travel_time:
                            id: less_than_hour
                            name: Не более часа
                          relocation:
                            area:
                              - id: '1'
                                name: Москва
                            type:
                              id: no_relocation
                              name: не готов к переезду
                          business_trip_readiness:
                            id: ready
                            name: готов к командировкам
                          ext_id: '123124'
                          ext_applicant_id: '123456'
[...]
